.line-container {
  width: 100vw;
  height: 100vh;
}

.au-enter {
  opacity: 0!important;
}
  
.au-enter-active {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
  
.au-leave-active {
  -webkit-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
}
  
/* CSS3-Animations */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
  
@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
  
@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
